%section#contact
  .wrapper
    .row
      .col_4
        %h3 Shoot me a message!
    .row
      .col_1
      .col_2
        %form#contact
          %input{type: "name", placeholder: "First Name"}
          %input{type: "email", placeholder: "Email"}
          %textarea{type: "text", placeholder: "Your awesome message"}
          %input{type: "submit", placeholder: "Submit" }
      .col_1
