%input#sidebar_toggler{type: "checkbox"}


%label#hamburger_button{for: "sidebar_toggler"}
  %span.nav_ham_bar
  %span.nav_ham_bar
  %span.nav_ham_bar

.sidebar
  %label#close_button{for: "sidebar_toggler"}
    <svg id="close_button" viewBox= "0 0 30px 30px"> <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
    </svg>
    -# %span.x
    -# %span.x
  %h5= link_to "Home", root_path
  %ul
    %li Vision & Identity
    %li= link_to "Projects", projects_path
    %li= link_to "Articles", articles_path
    %li= link_to "Contact", contacts_path
  %ul.push
    %li
      %a{href: "#"} Behânce
    %li
      %a{href: "#"} YouTube
    %li
      %a{href: "#"} Facebook
    %li
      %a{href: "#"} Dribbble
